<!-- views/auth.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to Our App</h1>
    <button>
        <a href="http://localhost:3000/auth/google">Login With Google</a>
    </button>
</body>
</html>
