<!-- views/set-password.ejs -->
<h3>Email: <%= email %></h3>
<h3>Name: <%= given_name %></h3>
<form action="/set-password" method="POST">
  <input type="hidden" name="email" value="<%= email %>">
  <input type="hidden" name="given_name" value="<%= given_name %>">
  
  <label for="password">Enter Password:</label>
  <input type="password" id="password" name="password" required>
  
  <button type="submit">Set Password</button>
</form>